[Unit]
Description=Gitalytics Backend

[Service]
Type=simple
WorkingDirectory=%h/gitalytics.org/src/backend/
ExecStart=pipenv run python3 -O -X utf8 main.py run-server
RestartSec=10s
Restart=no

[Install]
WantedBy=multi-user.target
