@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

@layer base {
    :root {
        --background-color: 255 255 255;
        --foreground-color: 0 0 0;
        --accent-color: 240 81 51; /*#F05133*/
    }
    :root.dark {
        --background-color: 34 39 46;
        --foreground-color: 255 255 255;
        --accent-color: 240 81 51; /*#F05133*/
    }
}
